<footer role="contentinfo" id="footer">
  <section class="s-footer">
    <div class="s-footer__container container">
      <div class="s-footer__row row">
        <div class="s-footer__col s-footer__col--nav col-12 col-md-3 col-xl-2">
          <div>
            <img src="images/sainval-logo.png" class="img-fluid" width="150" alt="">
          </div>
          <%- include('../_partials/menu') %>
        </div>
        <div class="s-footer__col s-footer__col--legal col-12 col-md-9 col-xl-10">
          <div class="text-md-end">
            <a href="https://www.linkedin.com/company/sainval-avocats/" target="_blank"><i class="ri-linkedin-box-fill ri-2x"></i></a>
          </div>
          <h3 class="h1 text-blue-light mb-0">Vous souhaitez échanger avec nous&nbsp;?</h3>
          <i class="fs-sm text-blue-light">Nous sommes à votre écoute.</i>
          <ul class="list-unstyled">
            <li class="list-inline-item">
              <i class="ri-mail-line ri-xl me-1"></i>
              <a href="mailto:contact@sainval.com">contact@sainval.com</a>
            </li>
            <li class="list-inline-item">
              <i class="ri-phone-line ri-xl me-1"></i>
              <a href="tel:0556048727">05 56 04 87 27</a>
            </li>
            <li>
              <address>
                <i class="ri-map-pin-2-line ri-xl me-1"></i>
                Sainval - 88, av. Jean Cordier - 33600 PESSAC
              </address>
            </li>
          </ul>
          <p class="fs-sm">Société d’avocats inscrite au Barreau de Bordeaux - ©Sainval 2024</p>
        </div>
      </div>
    </div>
  </section>
</footer>
