<footer role="contentinfo" id="footer">
  <section class="s-footer">
    <div class="s-footer__container container">
      <div class="s-footer__row row">
        <div class="s-footer__col col-12">
          footer
        </div>
      </div>
    </div>
  </section>
</footer>
