<header role="banner" id="header">
  <section class="s-header">
    <div class="s-header__container container">
      <div class="s-header__row row align-items-center">
        <div class="s-header__col s-header__col--logo col">
          <a href="/"><img src="images/sainval-logo-simple.png" height="100" alt=""></a>
        </div>
        <div class="s-header__col s-header__col--burger col-auto">
          <i class="ri-menu-line ri-2x"></i>
        </div>
      </div>
      <div class="s-header__row row align-items-center justify-content-center">
        <div class="s-header__col s-header__col--biglogo col-auto">
          <img src="images/sainval-logo.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
</header>
