<header role="banner" id="header">
  <section class="s-header">
    <div class="s-header__container container">
      <div class="s-header__row row">
        <div class="s-header__col col-12">
          header
        </div>
      </div>
    </div>
  </section>
</header>
