<header role="banner" id="header">
  <section class="s-header">
    <div class="s-header__container container">
      <div class="s-header__row row align-items-center">
        <div class="s-header__col s-header__col--logo col">
          <a href="/"><img src="images/sainval-logo-simple.png" class="img-fluid"></a>
        </div>
        <div class="s-header__col s-header__col--burger col-auto">
            <button data-toggle="burger" aria-expanded="false" aria-label="Ouverture et fermeture du menu de navigation principale pour mobile">
                <i class="ri-menu-line ri-2x text-white" id="open" aria-hidden="true"></i>
            </button>
        </div>
        <div id="burgerNav">
            <button data-toggle="burger">
                <i class="ri-close-line ri-2x text-blue-dark" id="close" aria-hidden="true"></i>
            </button>
            <nav role="navigation" aria-label="Navigation principale pour mobile">
                <ul class="list-unstyled">
                    <li><a href="/" <% if (locals.currentItem==='accueil' ) { %>class="is-active"<% } %>>ACCUEIL</a></li>
                    <li><a href="cabinet.html" <% if (locals.currentItem==='cabinet' ) { %>class="is-active"<% } %>>LE CABINET</a></li>
                    <li><a href="domaines-de-competences.html" <% if (locals.currentItem==='domaines' ) { %>class="is-active"<% } %>>DOMAINES DE COMPÉTENCES</a></li>
                    <li><a href="tarifs.html" <% if (locals.currentItem==='tarifs' ) { %>class="is-active"<% } %>>TARIFS</a></li>
                    <li><a href="contact.html" <% if (locals.currentItem==='contact' ) { %>class="is-active"<% } %>>CONTACT</a></li>
                    <li><a href="mentions-legales.html" <% if (locals.currentItem==='mentions' ) { %>class="is-active"<% } %>>Mentions légales</a></li>
                  </ul>
            </nav>
        </div>
      </div>
      <div class="s-header__row row align-items-center justify-content-center">
        <div class="s-header__col s-header__col--biglogo col-auto">
          <img src="images/sainval-logo.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
</header>
