<header role="banner" id="header">
  <section class="s-header">
    <div class="s-header__container container">
      <div class="s-header__row row align-items-center">
        <div class="s-header__col s-header__col--logo col">
          <a href="/"><img src="images/sainval-logo-simple.png" height="100" class="img-fluid"></a>
        </div>
        <div class="s-header__col s-header__col--burger col-auto">
            <button data-toggle="burger" aria-expanded="false" aria-label="Ouverture et fermeture du menu de navigation principale pour mobile">
                <i class="ri-menu-line ri-2x text-white" id="open" aria-hidden="true"></i>
                <i class="ri-close-line ri-2x text-blue-dark" id="close" aria-hidden="true"></i>
            </button>
        </div>
        <div id="burgerNav">
            <nav role="navigation" aria-label="Navigation principale pour mobile">
                <%- include('../_partials/menu') %>
            </nav>
        </div>
      </div>
      <div class="s-header__row row align-items-center justify-content-center">
        <div class="s-header__col s-header__col--biglogo col-auto">
          <img src="images/sainval-logo.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
</header>
