// Custom variables

::selection,
mark,
mark {
  color: $white;
  background-color: $primary;
}

body {
  font-family: $font-family-base;
  text-underline-offset: 0.188rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .s-main {
    flex: 1 0 auto;
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

.container {
  max-width: map-get($container-max-widths, 'xl');
}

.img-fitcover {
  object-fit: cover;
  width: 100%;
}

.fs-base {
  font-size: $font-size-base !important;
}

.fs-lg {
  font-size: $font-size-lg !important;
}

.fs-sm {
  font-size: $font-size-sm !important;
}

.fs-xs {
  font-size: $font-size-xs !important;
}

.ff-base {
  font-family: $font-family-base;
}
