// Custom variables

::selection,
mark,
mark {
  color: $white;
  background-color: $primary;
}

body {
  font-family: $font-family-base;
  text-underline-offset: 0.188rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .s-main {
    flex: 1 0 auto;
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

q {
  quotes: '“ ' ' ”';
  font-style: italic;
}

.container {
  max-width: map-get($container-max-widths, 'xxl');
}

.img-fitcover {
  object-fit: cover;
  width: 100%;
}

.has-border-top {
  border-top: 1px solid $blue-dark;
}

.fs-base {
  font-size: $font-size-base !important;
}

.fs-lg {
  font-size: $font-size-lg !important;
}

.fs-sm {
  font-size: $font-size-sm !important;
}

.fs-xs {
  font-size: $font-size-xs !important;
}

.ff-base {
  font-family: $font-family-base;
}

.btn-pink {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-blue-dark);
  --bs-btn-bg: var(--bs-pink-light);
  --bs-btn-border-color: var(--bs-pink-light);
  --bs-btn-hover-color: var(--bs-blue-dark);
  --bs-btn-hover-bg: var(--bs-pink-light);
  --bs-btn-hover-border-color: var(--bs-pink-light);
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-pink-light);
  --bs-btn-active-border-color: var(--bs-pink-light);
  line-height: 1.2;
  text-transform: uppercase;
  padding: 1rem 2rem;
}
