<!DOCTYPE html>

<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Sainval - Avocats conseils</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="Sainval - Avocats conseils">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Sainval - Avocats conseils">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Sainval - Avocats conseils">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favico/favicon-16x16.png">

    <link rel="shortcut icon" href="images/favico/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top">
    <nav role="navigation" aria-label="Accès rapide" tabindex="0" class="visually-hidden">
      <ul>
        <li><a href="#nav-primary">Aller au menu principal</a></li>
        <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <%- include('_sections/header') %>

      <main class="s-main" role="main">

        <section class="s-article-figure is-ltr" style="--bg-img: url('../images/cabinet-photo.png')">
            <div class="s-article-figure__container container g-0">
                <div class="s-article-figure__row row justify-content-end g-0">
                    <div class="s-article-figure__col s-article-figure__col--article col-12 col-xl-6">
                        <article>
                            <h1>Le cabinet</h1>
                            <h2>Notre expertise au service de votre entreprise.</h2>
                            <p>Nous ne sommes pas seulement des avocats, nous sommes des partenaires de confiance pour vous guider dans le monde complexe du droit de l’entreprise. Notre engagement : vous fournir des conseils juridiques de qualité, clairs et adaptés.</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-baseline">
            <div class="s-baseline__container container g-0">
                <div class="s-baseline__row row g-0">
                    <div class="s-baseline__col col-12">
                        <q>Votre intérêt est notre priorité</q>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-associees">
            <div class="s-associees__container container">
                <div class="s-associees__row row mb-3 mb-lg-7">
                    <div class="s-associees__col col-12 col-lg-4 text-lg-end">
                        <h2>Les Associées</h2>
                    </div>
                    <div class="s-associees__col col-12 col-lg-8">
                        <div class="fs-lg ps-lg-8">
                            <p>Nous nous donnons pour mission de vous fournir des services juridiques de qualité qui vous aident à atteindre vos objectifs : vous développer et prospérer.</p>
                            <p>Nos trois associées, Estelle, Sophie et Stéphanie, apportent chacune leur expertise complémentaire et confirmée depuis déjà de nombreuses années.</p>
                        </div>
                    </div>
                </div>
                <div class="s-associees__row row justify-content-center">
                    <div class="s-associees__col col-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="images/cabinet-estelle.png" class="img-fluid" alt="">
                            <figcaption>
                                <span class="s-associees__name">Estelle Daret</span>
                                <span class="s-associees__titre">Avocat associé</span>
                            </figcaption>
                        </figure>
                        <article>
                            <p>Estelle a tout d’abord exercé en qualité de juriste au sein d’un cabinet d’expertise comptable avant de devenir avocat en 2011.</p>
                            <p>Rigoureuse et posée, Estelle maîtrise les rouages tant d’opérations juridiques courantes que d’opérations complexes de type fusions – acquisitions, transmission d’entreprises et levées de fonds. Elle a développé un réseau de partenaires de confiance avec lesquels elle collabore sur les dossiers de réorganisation structurelle (experts-comptables, conseils financiers, notaires…).</p>
                        </article>
                    </div>
                    <div class="s-associees__col col-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="images/cabinet-sophie.png" class="img-fluid" alt="">
                            <figcaption>
                                <span class="s-associees__name">Sophie Larronde-Champilou</span>
                                <span class="s-associees__titre">Avocat associé</span>
                            </figcaption>
                        </figure>
                        <article>
                            <p>Sophie a dirigé pendant plus de 20 ans un service juridique au sein d’un cabinet d’expertise-comptable avant de rejoindre Estelle en 2013, et devenir avocat.</p>
                            <p>Pédagogue et passionnée, Sophie maîtrise le droit des affaires et la fiscalité des opérations patrimoniales privées comme professionnelles. Elle assure la gestion de dossiers complexes d’acquisition et de cession d’entreprises.</p>
                        </article>
                    </div>
                    <div class="s-associees__col col-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="images/cabinet-stephanie.png" class="img-fluid" alt="">
                            <figcaption>
                                <span class="s-associees__name">Stéphanie Dos Santos</span>
                                <span class="s-associees__titre">Avocat associé</span>
                            </figcaption>
                        </figure>
                        <article>
                            <p>Stéphanie est avocat depuis 2005. Elle a initialement exercé dans un cabinet de droit des affaires puis intégré un cabinet spécialisé en droit social, avant de rejoindre Estelle et Sophie en 2014.</p>
                            <p>Impliquée et à l’écoute, Stéphanie est experte en gestion des relations sociales, en ressources humaines et en stratégie managériale d'entreprise. Elle accompagne employeurs et DRH, et saura aussi bien gérer les problématiques quotidiennes de votre entreprise que les situations de crise.</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-associees has-border-top">
            <div class="s-associees__container container">
                <div class="s-associees__row row mb-3 mb-lg-7">
                    <div class="s-associees__col col-12 col-lg-4 text-lg-end">
                        <h2>Les Collaboratrices</h2>
                    </div>
                    <div class="s-associees__col col-12 col-lg-8">
                        <div class="fs-lg ps-lg-8">
                            <p>Nos deux collaboratrices, Léa et Yasmina, travaillent en étroite collaboration avec les associées pour une mise en œuvre optimisée des solutions préconisées.</p>
                        </div>
                    </div>
                </div>
                <div class="s-associees__row row">
                    <div class="s-associees__col col-12 col-md-6 col-lg-3">
                        <figure>
                            <img src="images/cabinet-lea.png" class="img-fluid" alt="">
                            <figcaption>
                                <span class="s-associees__name">Léa Taurissou</span>
                                <span class="s-associees__titre">Avocat</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="s-associees__col col-12 col-md-6 col-lg-3">
                        <figure>
                            <img src="images/cabinet-yasmina.png" class="img-fluid" alt="">
                            <figcaption>
                                <span class="s-associees__name">Yasmina Ben Abdellah</span>
                                <span class="s-associees__titre">Avocat</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="s-associees__col col-12 col-md-12 col-lg-6 d-none d-lg-inline-flex">
                        <img src="images/cabinet-bg.png" class="img-fitcover" alt="">
                    </div>
                </div>
            </div>
        </section>

      </main>

      <%- include('_sections/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="javascripts/app.js"></script>
  </body>

</html>
