<!DOCTYPE html>

<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Sainval - Avocats conseils</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="Sainval - Avocats conseils">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Sainval - Avocats conseils">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Sainval - Avocats conseils">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favico/favicon-16x16.png">
    <link rel="manifest" href="images/favico/site.webmanifest">

    <link rel="shortcut icon" href="images/favico/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top" class="p-home">
    <nav role="navigation" aria-label="Accès rapide" tabindex="0" class="visually-hidden">
      <ul>
        <li><a href="#nav-primary">Aller au menu principal</a></li>
        <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <%- include('_sections/header') %>

      <main class="s-main" role="main">

        <section class="s-section">
          <div class="s-section__container container">
            <div class="s-section__row row">
              <div class="s-section__col col-12">
                <p>Base section content</p>
              </div>
            </div>
          </div>
        </section>

        <section class="s-chiffres">
          <div class="s-chiffres__container container">
            <div class="s-chiffres__row row justify-content-center">
              <div class="s-chiffres__col col-12 col-md-auto">
                <div class="s-chiffres__stack g-3">
                  <div>
                    <strong>5</strong>
                    <span>Avocats</span>
                  </div>
                  <div>
                    <strong>45</strong>
                    <span>Années <br class="d-none d-md-inline">d’expériences <br class="d-none d-md-inline">cumulées</span>
                  </div>
                  <div>
                    <strong>1</strong>
                    <span>Objectif <br class="d-none d-md-inline">LE VOTRE</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>

      <%- include('_sections/footer') %>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      <script src="javascripts/app.js"></script>
  </body>

</html>
