<!DOCTYPE html>

<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Sainval - Avocats conseils</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="Sainval - Avocats conseils">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Sainval - Avocats conseils">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Sainval - Avocats conseils">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favico/favicon-16x16.png">

    <link rel="shortcut icon" href="images/favico/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top" class="p-home">
    <nav role="navigation" aria-label="Accès rapide" tabindex="0" class="visually-hidden">
      <ul>
        <li><a href="#nav-primary">Aller au menu principal</a></li>
        <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <%- include('_sections/header') %>

      <main class="s-main" role="main">

        <section class="s-article-figure" style="--bg-img: url('../images/home-photo.jpg')">
            <div class="s-article-figure__container container g-0">
                <div class="s-article-figure__row row g-0">
                    <div class="s-article-figure__col s-article-figure__col--article col-12 col-xl-6">
                        <article>
                            <h1>Parler d’égal <br class="d-none d-lg-inline">à Légal</h1>
                            <p>Sainval réunit des avocats expérimentés pour vous accompagner dans les domaines du droit des affaires et du droit social.</p>
                            <h2>Notre métier</h2>
                            <p>Vous conseiller et vous représenter au quotidien dans la gestion de vos projets professionnels. Chez Sainval, nos avocats vous assistent dans le respect des principes déontologiques de notre profession, et des valeurs de proximité et d’excellence qui constituent notre ADN.</p>
                            <a href="cabinet.html" class="btn btn-lg btn-pink d-block d-md-inline-block rounded-pill mt-5 mt-md-3">Découvrir le cabinet</a>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-chiffres has-border-top">
          <div class="s-chiffres__container container">
            <div class="s-chiffres__row row justify-content-center">
              <div class="s-chiffres__col col-12 col-md-auto">
                <div class="s-chiffres__stack g-3">
                  <div>
                    <strong>5</strong>
                    <span>Avocats</span>
                  </div>
                  <div>
                    <strong>45</strong>
                    <span>Années <br class="d-none d-md-inline">d’expériences <br class="d-none d-md-inline">cumulées</span>
                  </div>
                  <div>
                    <strong>1</strong>
                    <span>Objectif <br class="d-none d-md-inline">LE VOTRE</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="s-valeurs">
          <div class="s-valeurs__container container">
            <div class="s-valeurs__row row">
              <div class="s-valeurs__col s-valeurs__col--bg col-12 col-xl-3 d-none d-xl-inline-flex"></div>
              <div class="s-valeurs__col s-valeurs__col--content col-12 col-xl-9">
                <h2 class="h1">Nos Valeurs</h2>
                <p class="fs-lg">Nous ne sommes pas seulement vos avocats, nous sommes également des partenaires de confiance dont la mission consiste à vous guider dans le monde parfois complexe du droit de l’entreprise.</p>
                <div class="s-valeurs__grid py-3 py-md-5">
                  <div class="s-valeurs__grid__details">
                    <span>Écoute</span>
                    <div class="d-block d-md-none">
                        <p><strong>Notre approche est avant tout centrée sur l'humain.</strong></p>
                        <p>L’écoute de l’exposé de votre projet, la compréhension de vos objectifs, et l’identification de vos besoins sont le préalable essentiel d’un conseil pertinent.</p>
                        <p>Pas de solutions « prêt-à-porter », nos préconisations « sur-mesure » sont le résultat de prestations calibrées.</p>
                    </div>
                  </div>
                  <div class="s-valeurs__grid__details">
                    <span>Proximité</span>
                     <div class="d-block d-md-none">
                        <p><strong>Nous comprenons que le monde juridique puisse être dense et intimidant.</strong></p>
                        <p>Nous nous engageons à rendre le processus juridique aussi accessible et compréhensible que possible. Nous vous expliquons chaque étape en des termes clairs, pour mesurer vos enjeux et trouver ensemble la solution adaptée.</p>
                        <p>Nous échangeons d'égal à égal, quelle que soit la taille de votre entreprise ou l’étendue de votre sensibilité juridique.</p>
                    </div>
                  </div>
                  <div class="s-valeurs__grid__details">
                    <span>Implication</span>
                     <div class="d-block d-md-none">
                        <p><strong>Nous nous investissons pleinement dans chacun de nos dossiers, travaillant avec ténacité pour obtenir les meilleurs résultats : votre intérêt est notre priorité.</strong></p>
                        <p>La mise en œuvre efficace de nos préconisations est assurée par une équipe engagée, pluridisciplinaire et complémentaire.</p>
                    </div>
                  </div>
                </div>
                <button class="s-valeurs__grid__btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGrid" aria-expanded="false" aria-controls="collapseGrid"><i class="ri-arrow-right-line ri-3x"></i></button>
                <div class="collapse" id="collapseGrid">
                  <div class="s-valeurs__grid">
                    <div class="s-valeurs__grid__details">
                      <div>
                        <p><strong>Notre approche est avant tout centrée sur l'humain.</strong></p>
                        <p>L’écoute de l’exposé de votre projet, la compréhension de vos objectifs, et l’identification de vos besoins sont le préalable essentiel d’un conseil pertinent.</p>
                        <p>Pas de solutions « prêt-à-porter », nos préconisations « sur-mesure » sont le résultat de prestations calibrées.</p>
                      </div>
                    </div>
                    <div class="s-valeurs__grid__details">
                      <div>
                        <p><strong>Nous comprenons que le monde juridique puisse être dense et intimidant.</strong></p>
                        <p>Nous nous engageons à rendre le processus juridique aussi accessible et compréhensible que possible. Nous vous expliquons chaque étape en des termes clairs, pour mesurer vos enjeux et trouver ensemble la solution adaptée.</p>
                        <p>Nous échangeons d'égal à égal, quelle que soit la taille de votre entreprise ou l’étendue de votre sensibilité juridique.</p>
                      </div>
                    </div>
                    <div class="s-valeurs__grid__details">
                      <div>
                        <p><strong>Nous nous investissons pleinement dans chacun de nos dossiers, travaillant avec ténacité pour obtenir les meilleurs résultats : votre intérêt est notre priorité.</strong></p>
                        <p>La mise en œuvre efficace de nos préconisations est assurée par une équipe engagée, pluridisciplinaire et complémentaire.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

      </main>

      <%- include('_sections/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="javascripts/app.js"></script>
  </body>

</html>
