<!DOCTYPE html>

<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Sainval - Avocats conseils</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="Sainval - Avocats conseils">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Sainval - Avocats conseils">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Sainval - Avocats conseils">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favico/favicon-16x16.png">

    <link rel="shortcut icon" href="images/favico/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top">
    <nav role="navigation" aria-label="Accès rapide" tabindex="0" class="visually-hidden">
      <ul>
        <li><a href="#nav-primary">Aller au menu principal</a></li>
        <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <%- include('_sections/header', {currentItem: 'tarifs'}) %>

      <main class="s-main" role="main">

        <section class="s-article-figure is-ltr" style="--bg-img: url('../images/tarifs-photo.jpg')">
            <div class="s-article-figure__container container g-0">
                <div class="s-article-figure__row row justify-content-end g-0">
                    <div class="s-article-figure__col s-article-figure__col--article col-12 col-xl-6">
                        <article>
                            <h1>Honoraires</h1>
                            <p>Notre objectif est de vous offrir des services juridiques de pointe à un coût adapté. Nous vous proposons plusieurs options de facturation pour répondre à vos besoins spécifiques.</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-baseline">
            <div class="s-baseline__container container g-0">
                <div class="s-baseline__row row g-0">
                    <div class="s-baseline__col col-12">
                        <q>Des honoraires calibrés pour un service dédié</q>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-options">
            <div class="s-options__container container">
                <div class="s-options__row row mb-3 mb-lg-7">
                    <div class="s-options__col col-12 col-lg-4 text-lg-end">
                        <h2>Les Options</h2>
                    </div>
                    <div class="s-options__col col-12 col-lg-8">
                        <div class="fs-lg ps-lg-8">
                            <p>Nous nous engageons à vous fournir une facturation claire et détaillée. Vous saurez toujours ce que vous payez et pourquoi. La transparence est au cœur de notre relation avec nos clients.</p>
                        </div>
                    </div>
                </div>
                <div class="s-options__row row justify-content-center">
                    <div class="s-options__col col-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="images/tarifs-temps-passe.jpg" class="img-fluid" alt="">
                            <figcaption>
                                <span class="s-options__name">Au Temps Passé</span>
                            </figcaption>
                        </figure>
                        <article>
                            <p>Cette option de tarification repose sur le temps que nos avocats consacrent à votre dossier, sur la base d'un taux horaire prédéfini. Vous recevez une facture détaillée indiquant le temps passé sur votre dossier, le relevé des temps étant à disposition au moment où vous demandez l’encours. Cette option convient aux clients qui ont besoin d'une assistance au périmètre variable.</p>
                        </article>
                    </div>
                    <div class="s-options__col col-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="images/tarifs-forfait.jpg" class="img-fluid" alt="">
                            <figcaption>
                                <span class="s-options__name">Au Forfait</span>
                            </figcaption>
                        </figure>
                        <article>
                            <p>Lorsque le périmètre de votre besoin est parfaitement défini, nous sommes en mesure de vous proposer un forfait et d’estimer les frais administratifs. Vous pouvez ainsi budgétiser le coût de notre intervention.</p>
                        </article>
                    </div>
                    <div class="s-options__col col-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="images/tarifs-resultat.jpg" class="img-fluid" alt="">
                            <figcaption>
                                <span class="s-options__name">Au Résultat</span>
                            </figcaption>
                        </figure>
                        <article>
                            <p>Dans certaines situations, nous pouvons convenir d'une tarification assise sur les résultats que nous obtenons pour vous, en sus d’un honoraire fixe de base, conformément à nos obligations déontologiques.</p>
                        </article>
                    </div>
                </div>
                <div class="s-options__row row justify-content-end">
                    <div class="s-options__col col-12 col-lg-8">
                        <p class="fs-sm ps-lg-8">
                            <i>*Les frais avancés par le cabinet pour la bonne exécution de la mission confiée (dont les débours liés aux formalités administratives et légales) seront refacturés en sus.</i>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-mentions">
            <div class="s-mentions__container container">
                <div class="s-mentions__row row">
                    <div class="s-mentions__col s-mentions__col--bg col-12 col-xl-3 d-none d-xl-inline-flex"></div>
                    <div class="s-mentions__col s-mentions__col--content col-12 col-xl-9">
                        <h2>Médiateur national de la consommation de la profession d’avocat</h2>
                        <p class="fs-lg">S’il survenait une difficulté relative à nos honoraires, le client non professionnel aurait la possibilité de saisir le Médiateur de la consommation de la profession d’avocat :</p>
                        <ul class="list-unstyled my-3 my-md-7">
                            <li>Médiateur national de la consommation de la profession d’avocat</li>
                            <li><strong>Adresse</strong> 180 boulevard Haussmann, 75008 Paris,</li>
                            <li><strong>Mail</strong> mediateur-conso@mediateur-consommation-avocat.fr</li>
                        </ul>
                        <a href="mailto:mediateur-conso@mediateur-consommation-avocat.f" class="btn btn-lg btn-white d-block d-md-inline-block rounded-pill mb-5 mb-md-7">Mediateur-consommation-avocat.fr</a>
                        <p class="fs-sm">
                            <i>*Dans tous les cas, tout client dispose de la faculté de saisir le Bâtonnier de l’Ordre des Avocats du Barreau de Bordeaux conformément à nos règles déontologiques (art. 174 et s. du décret du 27 novembre 1991)</i>
                        </p>
                    </div>
                </div>
        </section>

      </main>

      <%- include('_sections/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="javascripts/app.js"></script>
  </body>

</html>
