.s-header {
  position: relative;
  z-index: 1;
  color: $white;
  background-color: $blue-dark;
  background-image: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__container {
    max-width: 100%;
  }

  &__col {
    &--logo {
      min-height: 100px;

      img {
        .p-home & {
          display: none;
        }
      }
    }

    &--biglogo {
      padding-top: 260px;
      padding-bottom: 280px;
      display: none;

      .p-home & {
        display: inline-flex;
      }
    }
  }
}
