<ul class="list-unstyled">
  <li><a href="">ACCUEIL</a></li>
  <li><a href="">LE CABINET</a></li>
  <li><a href="">DOMAINES DE COMPÉTENCES</a></li>
  <li><a href="">TARIFS</a></li>
  <li><a href="">CONTACT</a></li>
  <li><a href="">Mentions légales</a></li>
</ul>
