<ul class="list-unstyled">
  <li><a href="/">ACCUEIL</a></li>
  <li><a href="cabinet.html">LE CABINET</a></li>
  <li><a href="domaines-de-competences.html">DOMAINES DE COMPÉTENCES</a></li>
  <li><a href="tarifs.html">TARIFS</a></li>
  <li><a href="contact.html">CONTACT</a></li>
  <li><a href="mentions-legales.html">Mentions légales</a></li>
</ul>
